<div class="first-box">
  <img src="images/logoNpu.png" class="custom-img" alt="" />
  <div class="title">
    <h1 style="color: #efb225">มหาวิทยาลัยนครพนม</h1>
    <h1>Nakhon Panom University</h1>
  </div>
</div>

<div class="second-box sarabun-regular">
  <h2 class="text-dark text-center fw-bold">ยินดีต้อนรับเข้าสู่ เว็บไซต์ประเมินภาระงานของพนักงานในมหาวิทยาลัยนครพนม</h2>
</div>

<div class="third-box-bg sarabun-regular">
  <div class="third-box">
    <div class="text-formatt">
      <h4 class="text-wrap">พนักงานมหาวิทยาลัย ประเภทวิชาการ จัดทำข้อตกลงการปฏิบัติงานก่อนการปฏิบัติงาน (แบบ ป-ว 01)</h4>
      <p class="text-start fs-5 my-4">- ต้องมีภาระงานไม่น้อยกว่า 270 ชั่วโมงภาระงานต่อปีการศึกษา</p>
      <p class="text-start fs-5 my-4 text-danger fw-bold">** จัดทำภายในวันที่ 1 - 31 ตุลาคมของทุกปี</p>
    </div>
    <div class="text-formatt">
      <h4 class="text-wrap">พนักงานมหาวิทยาลัย ประเภทวิชาการ จัดทำรายงานผลปฏิบัติการ (แบบ ป-ว 02) ตามวงรอบก่อนการประเมิน</h4>
      <p class="text-start fs-5 my-4 text-danger fw-bold">** รอบที่ 1 ภายในวันที่ 5 เมษายนของทุกปี</p>
      <p class="text-start fs-5 my-4 text-danger fw-bold">** รอบที่ 2 ภายในวันที่ 5 ตุลาคมของทุกปี</p>
    </div>
  </div>
  
  <div class="sarabun-regular p-2 mt-3">
    <p class="more-info">- คณะกรรมการประเมินฯ โดยใช้รายงานผลปฏิบัติการ แบบ ป-ว 02 ประกอบการพิจารณา</p>
    <p class="more-info">- กรณีหากผลประเมินไม่เป็นธรรมให้ทำหนังสืออุทธรณ์ต่อหัวหน้าหน่วยงาน โดยชี้แจงเหตุผลฯ พร้อมเอกสารที่เกี่ยวข้อง ภายใน 30 วันนับแต่วันที่รับทราบผลประเมิน</p>
    <p class="more-info">- คณะกรรมการประเมินฯ ประชุมและสรุปผลการประเมินตามแบบ ป-ว 03 ต่อหัวหน้าหน่วยงานภายใน 10 วัน นับตั้งแต่เวลาครบกำหนดระยะเวลาการปฏิบัติงาน มีมติเป็นที่สิ้นสุดโดยใช้แบบ ป-ว 04</p>
    <p class="more-info">- ให้หน่วยงานทำการประเมินผลการปฏิบัติงานของพนักงานมหาวิทยาลัย ประเภทวิชาการ ประจำปีงบประมาณละ 2 ครั้ง โดย ครั้งที่ 1 ระหว่างวันที่ 1 ตุลาคม ปีปัจจุบัน ถึงวันที่ 31 มีนาคม ปีถัดไป, ครั้งที่ 2 ะหว่างวันที่ 1 เมษายน ถึงวันที่ 30 กันยายน</p>
  </div>
</div>
<div class="p-2 mt-3">
  <a class="more-info" style="cursor: pointer;" (click)="downloadPdf()">รายละเอียดเพิ่มเติม</a>
    <div>
      <p class="fw-bold d-inline more-info">Contact Staff: </p>
      <p class="d-inline more-info">asada&#64;gmail.com</p>
    </div>
</div>
    